<div class="row">
  <div class="large-12 columns">
    <h4>Flags</h4>
    <h5 class="subheader">Showing all flags for all players.</h5>
  </div>
  <hr />
</div>
<div class="row">
  <div class="large-12 columns">
    <table style="margin-left: auto; margin-right: auto">
      <thead>
        <tr>
          <th style="width: 10%">Mojang</th>
          <th style="width: 10%">Steam</th>
          <th style="width: 10%">Admin</th>
          <th style="width: 10%">Date</th>
          <th style="width: 60%">Admin Message</th>
        </tr>
      </thead>
      <tbody>
        <% log_dump.each do |row| %>
        <tr>
          <td><a href="<%= url('/backstage/user/' + row['mojang']) %>"><%= row['mojang'].length > 0 ? row['mojang'] : "None" %></a></td>
          <td><a href="<%= url('/backstage/user/' + row['steam64']) %>"><%= row['steam64'].length > 0 ? row['steam64'] : "None" %></a></td>
          <td><%= row['admin_name'] %></td>
          <td><%= row['date'].to_i == 0 ? "Imported" : Time.at(row['date'].to_i).strftime('%D') %></td>
          <td><%= row['message'] %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <p style="text-align: center"><small>There are <%= log_dump.count %> entries on this page.</small></p>
  </div>
</div>