<div class="row">
  <div class="large-12 columns">
    <h2>Flags</h2>
    <h5 class="subheader">Showing all malicious flags for all players.</h5>
  </div>
  <hr />
</div>
<div class="row">
  <div class="large-12 columns">
    <table style="margin-left: auto; margin-right: auto">
      <thead>
        <tr>
          <th style="width: 10%">Target</th>
          <th style="width: 10%">Admin</th>
          <th style="width: 10%">Sent</th>
          <th style="width: 10%">Ack'd</th>
          <th style="width: 60%">Admin Note</th>
        </tr>
      </thead>
      <tbody>
        <% log_dump.each do |row| %>
        <tr>
          <td><%= row['target'] %></td>
          <td><%= row['admin_name'] %></td>
          <td><%= Time.at(row['sendtime'].to_i).strftime('%D') %></td>
          <td><%= row['acktime'].to_i == 0 ? "Never" : Time.at(row['acktime'].to_i).strftime('%D') %></td>
          <td><%= row['adminnote'] %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <p style="text-align: center"><small>There are <%= log_dump.count %> entries on this page.</small></p>
  </div>
</div>