<div class="row">
  <div class="large-12 columns">
    <h4>User: <%= user %></h4>
    <h5 class="subheader">Showing flags and warnings for a specific user.</h5>
  </div>
  <hr />
</div>
<div class="row">
  <div class="large-12 columns">
    <h4>Flags</h4>
    <hr />
    <table style="margin-left: auto; margin-right: auto">
      <thead>
        <tr>
          <th style="width: 10%">Mojang</th>
          <th style="width: 10%">Steam</th>
          <th style="width: 10%">Admin</th>
          <th style="width: 10%">Date</th>
          <th style="width: 60%">Admin Message</th>
        </tr>
      </thead>
      <tbody>
        <% flags.each do |row| %>
        <tr>
          <td><%= row['mojang'].length > 0 ? row['mojang'] : "None" %></td>
          <td><%= row['steam64'].length > 0 ? row['steam64'] : "None" %></td>
          <td><%= row['admin_name'] %></td>
          <td><%= row['date'].to_i == 0 ? "Imported" : Time.at(row['date'].to_i).strftime('%D') %></td>
          <td><%= row['message'] %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <h4>Warnings</h4>
    <hr />
    <table style="margin-left: auto; margin-right: auto">
      <thead>
        <tr>
          <th style="width: 10%">Admin</th>
          <th style="width: 10%">Sent</th>
          <th style="width: 10%">Ack'd</th>
          <th style="width: 20%">Admin Note</th>
          <th style="width: 50%">Message</th>
        </tr>
      </thead>
      <tbody>
        <% warnings.each do |row| %>
        <tr>
          <td><%= row['admin_name'] %></td>
          <td><%= Time.at(row['sendtime'].to_i).strftime('%D') %></td>
          <td><%= row['acktime'].to_i == 0 ? "Never" : Time.at(row['acktime'].to_i).strftime('%D') %></td>
          <td><%= row['adminnote'] %></td>
          <td><%= row['message'] %><td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>