<div class="row">
  <div class="large-12 columns">
    <h4>Danger Ahead!</h4>
    <!--<h5 class="subheader">A ShankShock Administrator has issued a warning regarding your ShankShock Account.
      Disregarding or ignoring this warning is highly ill-advised. Doing so will result in losing access
      to all services permanently.</h5>-->
  </div>
<hr />
</div>
<div class="row">
  <div class="large-3 columns">
    <div>
      <h6>Admin Details</h6>
      <ul class="square">
        <li>Name: <%= admin_name %></li>
        <li>Date: <%= send_time %></li>
      </ul>
    </div>
  </div>
  <div class="large-9 columns">
    <div>
      <h3><%= player_name %>,</h3>
      <p><%= message %></p>
      <p style="text-align: right"><h4 style="text-align: right">~<%= admin_name %></h4></p>
    </div>
    <p style="text-align: right"><a href="/backstage/warn/apply/" class="button alert large">Send Warning</a></p>
  </div>
</div>